<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>About</title>
	<link rel="icon" type="image/x-icon" href="./icons/deepwave_3/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="./css/deepwave.css">
	<style>
	.bg-image {
		background-image: url('./images/DeepWave_0_2.png');
		justify-content: flex-start;
	}
		
		nav ul {
				  padding-left: 17%;
		}
		
		.main {
			padding-top: 10%;
		}
				
		.text {
			width: 60%;
			align-content: center;
			margin:auto;
		}
		
		.text p {
			text-align: justify;
			text-justify: inter-character;
		}
		

	</style>
</head>

<body>
	<div class="bg-image">

	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Portfolio</a></li>
		</ul>

		
	</nav>
	
	<div class="main">

		
		<div class = "text">			
			<p>
				Established in 2019, we are an organization commited to empowering the creative industry by providing innovative solutions tailored to your unique needs. Our team of experts is dedicated to helping creative professionals, including designers, filmmakers, game creators, and others, bring their ideas to life.
			</p>
			<p>
				At Deep Wave, we recognize that the creative industry poses a unique set of challenges and opportunities. To address this, we offer a wide range of services that combine strategic thinking with cutting-edge technology and creativity. We strive to help you achieve your goals and stay ahead of the competition.
			</p>
			<p>
				We firmly believe that creativity is the most valuable asset in today's fast-paced world. This is why we are committed to fostering a culture of innovation and collaboration, both within our team and with our clients. We pride ourselves on our ability to think outside the box and provide effective and inspiring solutions.
			</p>

			<p>
				We are excited to connect with you on LinkedIn and share our passion for creativity and innovation. Follow our page to stay updated on our latest projects and insights. If you have any questions or would like to learn more about how we can help your business thrive, please don't hesitate to contact us.
			</p>	
		</div>
		
		
	
	</div>

</div>	

</body>
</html>
