<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Deep Wave </title>
	<link rel="icon" type="image/x-icon" href="./icons/deepwave_3/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="./css/deepwave.css">
	
	<style>
		.bg-image {
			      background-image: url('./images/DeepWave_0_2.png');
		}
		
		nav ul {
				  padding-left: 15%;
		}
	
	</style>
	
</head>
<body>
<header></header>
	
<div class="bg-image">
	<img src="./images/DeepWave_5_5.png" alt="Description of image" width="300" height="300">
	<nav>
		<ul>
			<li><a href="/About">About</a></li>
			<li><a href="#">Services</a></li>
			<li><a href="#">Portfolio</a></li>
		</ul>
	</nav>
</div>	
	
<!--	
<div class="container">
	<main>
		<p>Welcome to Deep Wave. This website is under construction.</p>
	</main>
	<footer>
		<p>&copy; 2023 Deep Wave Creative</p>
	</footer>
</div>-->
</body>
</html>